.nav__add {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  gap: 0.5rem;
  border-radius: var(--borderRadius);
  background: var(--primary);
  border: none;
  color: var(--onPrimary);
  font-size: 1rem;
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-areas: "todo completed missed";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 769px) {
  .main {
    grid-template-areas: "todo todo" "completed missed";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 426px) {
  .main {
    grid-template-areas: "todo" "completed" "missed";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.todo {
  grid-area: todo;
  padding: 1rem;
  background-color: var(--surface);
  border-radius: var(--borderRadius);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todoCard {
  width: 100%;
  padding: 1rem;
  border-radius: var(--borderRadius);
  background-color: var(--surface);
  border: var(--outlineSize) solid var(--outline);

  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.todoCard-completed {
  background-color: hsl(120, 100%, 95%);
  border: none;
}

.todoCard-missed {
  background-color: hsl(0, 100%, 95%);
  border: none;
}

.todoCard__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todoCard__actions {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  opacity: 0.1;
}

.todoCard__actions:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.todoCard__completeBtn {
  background: transparent;
  border: none;
}

.todoCard__deleteBtn {
  background: transparent;
  border: none;
  color: red;
}

.todoCard__emblem {
}

.todoCard__emblem-red {
  color: hsl(0, 100%, 80%);
}

.todoCard__emblem-green {
  color: hsl(120, 100%, 80%);
}

.todoCard__emblem-yellow {
  color: hsl(60, 100%, 80%);
}

.todoCard__emblem-blue {
  color: hsl(240, 100%, 80%);
}

.completed {
  grid-area: completed;
  padding: 1rem;
  background-color: var(--surface);
  border-radius: var(--borderRadius);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.missed {
  grid-area: missed;
  padding: 1rem;
  background-color: var(--surface);
  border-radius: var(--borderRadius);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
