.nav__register {
  color: var(--onBackground);
  opacity: var(--primaryText);
}

.nav__registerLink {
  color: var(--primary);
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  background-color: var(--surface);
  padding: 1.5rem;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 17rem;
  margin: 2rem;
  align-items: center;
}

.loginForm__title {
  text-transform: capitalize;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.inputSection__input {
  padding: 0.3rem;
  border-radius: var(--borderRadius);
  border: var(--outline) solid var(--outlineSize);
}

.inputSection__input-title {
  max-width: 20rem;
}

.inputSection__input-error {
  border: hsl(0, 97%, 69%) solid var(--outlineSize);
}

.inputSection__errorIcon {
  margin: 0.3rem;
}

.inputSection__errorMessage {
  font-size: 0.75rem;
  color: hsl(0, 97%, 69%);
}

.loginForm__submit {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: var(--borderRadius);
  border: none;
  background: var(--primary);
  width: 100%;
  color: var(--onPrimary);
}
